<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="powershell-core" value="https://powershell.myget.org/F/powershell-core/api/v3/index.json" />
        <add key="XSharpCI" value="https://ci.appveyor.com/nuget/xsharp" />
    </packageSources>
    <activePackageSource>
        <add key="All" value="(Aggregate source)" />
    </activePackageSource>
</configuration>
